body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.file-upload-btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.file-upload-btn:hover {
    background-color: #0056b3;
}

/* Style the file input to be hidden */
input[type="file"] {
    display: none;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* Login option */
.login-option {
    text-align: center;
    margin-top: 20px;
}

.login-option p {
    display: inline-block; /* Ensure inline-block for proper alignment */
    vertical-align: middle; /* Align vertically with other elements */
    margin: 10px 0 0; /* Adjust margins as needed */
}

.login-option a {
    display: inline-block;
    padding: 8px 20px;
    background-color: #00ff73;
    color: #030303;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.login-option a:hover {
    background-color: #f550dc;
}
